@font-face {
  font-family: "KyoboHandwriting2020A";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "KyoboHandwriting2020A";
}

nav {
  /* background-color: #e69a06; */
}

.nav-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 3rem;
}

.nav-contact {
  font-size: 2.5rem;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.category-title {
  font-size: 3.5rem;
}

.category-item {
  width: 25%;
  height: 5rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
}

.category-item:hover {
  color: #e69a06;
  cursor: pointer;
}

.inner {
  padding: 0 1.5rem;
}

@media all and (min-width: 1024px) {
  .inner {
    max-width: 1024px;
    margin: 0 auto;
  }
}

/* 카카오맵 CSS */

body {
  height: 100vh;
}

nav {
  height: 59px;
}

main {
  padding-top: 1.5rem;
  height: calc(100% - 59px);
  /* 부모의 100%를 가져간다고 가정을 한뒤 nav 태그가 차지하는 59px을 빼주면 된다. */
  display: flex;
  flex-direction: column;
}

#map {
  /* flex아이템중에 grow 라고 이걸 1로 주면 플렉스 아이템중 다른 아이템이 사용하고 남은 공간은 모두 사용한다는 말이다. */
  flex-grow: 1;
  width: 100%;
  height: 100%;
}